*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background-image: url(../images/40610049_1370561219714121_4786766928569958400_n.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

a{
    color: inherit;
    text-decoration: none;
}

.heading{
    width: 600px;
    height: 300px;
    margin: auto auto auto 200px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.title{
    display: block;
    text-align: center;
    color: white;
    font-size: 50pt;
    font-family: ;
}

.buttons{
    margin: 35px;
    width: auto;
    text-align: center;
}

.movie{
    margin: 10px;
    width: 180px;
    height: 50px;
    border: 3px solid #66ff99;
    background-color: rgba(255,255,255,0);
    color: #66ff99;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-color 500ms, color 500ms;
}

.music{
    margin: 10px;
    width: 180px;
    height: 50px;
    border: 3px solid #80d4ff;
    background-color: rgba(255,255,255,0);
    color: #80d4ff;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-color 500ms, color 500ms;
}

.book{
    margin: 10px;
    width: 180px;
    height: 50px;
    border: 3px solid #ffff99;
    background-color: rgba(255,255,255,0);
    color: #ffff99;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-color 500ms, color 500ms;
}

.game{
    margin: 10px;
    width: 180px;
    height: 50px;
    border: 3px solid #ff9980;
    background-color: rgba(255,255,255,0);
    color: #ff9980;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;

    transition: background-color 500ms, color 500ms;
}

.book:hover{
    background-color: rgba(255, 255, 153, 1);
    color: #222;
    cursor: pointer;

    transition: background-color 500ms, color 500ms;
}

.music:hover{
    background-color: rgba(128, 212, 255, 1);
    color: #222;
    cursor: pointer;

    transition: background-color 500ms, color 500ms;
}

.movie:hover{
    background-color: rgba(102, 255, 153, 1);
    color: #222;
    cursor: pointer;

    transition: background-color 500ms, color 500ms;
}

.game:hover{
    background-color: rgba(255, 153, 128, 1);
    color: #222;
    cursor: pointer;

    transition: background-color 500ms, color 500ms;
}
