html{
    height: 100%;
}

body{
    background-image: url(../images/40610049_1370561219714121_4786766928569958400_n.png);
    background-position: center;
    background-size: cover;
}

a{
    color: inherit;
}

.heading{
    width: 600px;
    height: 300px;
    margin: auto auto auto 200px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.title{
    display: block;
    text-align: center;
    color: white;
    font-size: 50pt;
}

.buttons{
    margin: 35px;
    text-align: center;
}

.music, .book, .game, .movie{
    margin: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(255,255,255,0);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 500ms, color 500ms;
}

.movie{
    border: 3px solid #66ff99;
    color: #66ff99;
}

.music{
    border: 3px solid #80d4ff;
    color: #80d4ff;
}

.book{
    border: 3px solid #ffff99;
    color: #ffff99;
}

.game{
    border: 3px solid #ff9980;
    color: #ff9980;
}

.music:hover, .book:hover, .game:hover, .movie:hover{
    color: #222222;
    cursor: pointer;
    transition: background-color 500ms, color 500ms;
}

.book:hover{
    background-color: rgba(255, 255, 153, 1);
}

.music:hover{
    background-color: rgba(128, 212, 255, 1);
}

.movie:hover{
    background-color: rgba(102, 255, 153, 1);
}

.game:hover{
    background-color: rgba(255, 153, 128, 1);
}
