a{
    color: inherit;
}

th{
    background-color: #80d4ff;
    color: #222222;
}

.title{
    color: #4da6ff;
    font-size: 40pt;
    font-weight: bold;
}

.div-row{
    margin: 20px auto 10px auto;
    width: 150px;
    float: left;
}

.div-search{
    margin: 20px auto 10px auto;
    width: 250px;
    float: right;
}

.pagination-container{
    margin: 10px auto auto auto;
}

.pagination > li > a{
    background-color: white;
}

.pagination > li > a:hover{
    background-color: #eeeeee;
    border-color: #dddddd;
}

.pagination > li.active > a{
    color: black !Important;
    background-color: #80d4ff !Important;
    border: solid 1px #80d4ff !Important;
}

.btn{
    background-color: #80d4ff;
    border-color: #80d4ff;
    color: black;
    font-size: 13pt;
    margin: 15px auto 50px auto;
    transition: background-color 500ms, border-color 500ms, color 500ms;
}

.excel{
    float: left;
}

.home{
    float: right;
}

.btn:hover{
    color: white;
    background-color: #0073e6;
    border-color: #0073e6;
    cursor: pointer;
    transition: background-color 500ms, border-color 500ms, color 500ms;
}
