<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/homepage.css' />
    </head>
    <body>
        <div class="heading">
            <span class="title">
                <%= title %>
            </span>

            <div class="buttons">
                <a href="/books"><button class="book">Books</button></a>
                <a href="/music"><button class="music">Music</button></a>
                <a href="/movies"><button class="movie">Movies</button></a>
                <a href="/games"><button class="game">Games</button></a>
            </div>
        </div>
    </body>
</html>
